<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Node File Uploads</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
    </head>
    <body>
        <div class="container">
            <h1>File Upload</h1>
            <!-- EJS STATEMENT -->
            <%= typeof msg != 'undefined' ? msg : ''; %>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="file-field input-field">
                    <div class="btn grey">
                        <span>File</span>
                        <input name="myImages" type="file" multiple />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" />
                    </div>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
            <br />
            <!-- EJS STATEMENT -->
            <div class="images">
                <% if (locals.files) { %> <% for (file of locals.files) {%>
                <img src="<%=file%>" alt="" />
                <%}%> <% } %>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="../src/main.js"></script>
    </body>
</html>
